@inherits AppBaseComponent

<div class="main-nav @(IsOpenNav ? "avtive" : "deactive")">
    <FluentNavMenu>
        <FluentNavMenuLink Text="Item 1" Icon="@(new Icons.Regular.Size24.Home())" Href="/" />
        <FluentNavMenuLink Text="Item 2" Href="/blog/archive" />
        <FluentNavMenuGroup Text="Item 3">
            <FluentNavMenuLink Text="Item 3.1" Icon="@(new Icons.Regular.Size24.LeafOne())" Href="/blog/archive" />
            <FluentNavMenuLink Text="Item 3.2" Icon="@(new Icons.Regular.Size24.LeafTwo())" Href="/sign-up" />
        </FluentNavMenuGroup>
        <FluentNavMenuGroup Text="Item 4">
            <FluentNavMenuLink Text="Item 4.1" Href="/" />
            <FluentNavMenuLink Text="Item 4.2" Icon="@(new Icons.Regular.Size24.LeafOne())" Href="/" />
        </FluentNavMenuGroup>
        <FluentNavMenuGroup Text="Item 5">
            <FluentNavMenuLink Text="Item 5.1" Icon="@(new Icons.Regular.Size24.LeafTwo())" Href="/" />
            <FluentNavMenuGroup Text="Item 5.2">
                <FluentNavMenuLink Text="Item 5.2.1" Href="/" />
                <FluentNavMenuLink Text="Item 5.2.2" Href="/" />
            </FluentNavMenuGroup>
            <FluentNavMenuGroup Text="Item 5.3">
                <FluentNavMenuLink Text="Item 5.3.1" Icon="@(new Icons.Regular.Size24.LeafOne())" Href="/" />
                <FluentNavMenuLink Text="Item 5.3.2" Href="/" />
            </FluentNavMenuGroup>
        </FluentNavMenuGroup>
        <FluentNavMenuGroup Text="Items with Href">
            <FluentNavMenuLink Text="Go to Bing" Icon="@(new Icons.Regular.Size24.LeafOne())" Href="/" />
            <FluentNavMenuLink Text="Go to home page" Icon="@(new Icons.Regular.Size24.Home())" Href="/" />
        </FluentNavMenuGroup>
        <FluentNavMenuLink Text="Last item" Icon="@(new Icons.Regular.Size24.LeafThree())" Disabled="true" Href="/" />
    </FluentNavMenu>
</div>